default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
        args: [--fix, --show-fixes]


  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        stages: [pre-commit, pre-push]
        args: [--config-file=pyproject.toml]
        pass_filenames: false
        # .pre-commit-config.yaml
        additional_dependencies:
          - numpy==2.4.0
          - scipy==1.15.3
          - scipy-stubs==1.15.3.0
          - pandas-stubs

